@page "/booklist"
@inject IBookService BookService
<h1>Book List</h1>

<p> Esta pagina muestra la lista de todos los Books</p>
@Message


<div>
    <a href="/bookdetails">  <i>Agregar</i> </a>
</div>


@if (books == null)
{
    <p><em>Loading...</em></p>
}
else

{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
	        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td><a href="/bookdetails/@book.BookId"><i>Editar</i></a></td>
                <td><a href="/bookdelete/@book.BookId"><i>Borrar</i></a></td>
            </tr>
	        }
            
        </tbody>
    </table>

}





@code {
    public IEnumerable<Book> books { get; set; }

    public string Message { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            books = await BookService.GetAllBook();
        }
        catch (Exception e)
        {

            Message = e.Message;
        }

    }
}
